<%- include('header'); -%>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">
                            <!-- Man must explore, and this is exploration at its greatest -->
                            <%= post.title %>
                        </h2>
                    </a>
                    <p class="post-meta">
                        <%= post.content %>
                    </p>
                </div>
                <div class="container pb-cmnt-container">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <div class="panel panel-info">
                                <form method="POST" onsubmit="return doComment(this);">
                                    <input type="hidden" name="post_title" value="<%=post.title %>" />
                                    <div class="form-group">
                                        <input class="form-control" name="username" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <textarea type="hidden" placeholder="Write your comment here!" class="pb-cmnt-textarea" name="comment"></textarea>
                                    </div>
                                    <button class="btn btn-primary pull-right" type="submit">Comment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <% if(post.comments) { %>
                    <% post.comments =post.comments.reverse();%>
                        <% post.comments.forEach(function(comment){ %>
                            <div class="media mb-4">
                                <div class="media-body">
                                    <h5 class="mt-0">
                                        <%= comment.username %>
                                    </h5>
                                    <%= comment.comment %>
                                </div>
                            </div>
                            <% }) %>
                                <% } %>
            </div>
        </div>
    </div>
    <hr>
    <script>
        function doComment(form) {
            $.ajax({
                url: "/do-comment",
                method: "POST",
                data: {
                    post_title: form.post_title.value,
                    username: form.username.value,
                    comment: form.comment.value
                },

                success: function(response) {
                    alert(response);
                    setTimeout(function() {
                        window.location = window.location
                    }, 500);
                }
            });
            return false;
        }
    </script>
    <%- include('footer'); -%>